<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/vue"></script>
  <script src="app.js" defer></script>
  <link href="style.css" rel="stylesheet">
  <title>Notes-1</title>
</head>

<body>

  <div class="wrapper">
    <div id="app" v-cloak>
      <h1>{{ title }}</h1>
      <form class="form" action="" @submit.prevent="onSubmit">
        <input class="form__input" type="text" required v-model="input.value" :placeholder="input.placeholder">
        <button class="form__btn" type="submit">Add new note</button>
      </form>

      <div class="notes">
        <ul>
          <li class="note" v-for="({ text, isEdit}, index) in notes" :key="index">
            <button class="del-btn" @click="remove(index)">&#10005;</button>
            <span v-if="!isEdit" @click="changeEditMode(index)" title="click for edit">
              {{ text }}
            </span>
            <input v-else-if="isEdit" class="input-edit" v-model="text"
              @keypress.enter="handleChangeInput(index, text)">
          </li>
        </ul>
      </div>
    </div>
  </div>

</body>

</html>